@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  --color-first:#9290C3;
  --color-second:#7AB2B2;
  --color-third:#EEF7FF;
  --color-fourth:#CDE8E5;
  --color-bg:#070F2B;
}

* {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--color-bg);
  color:#9290C3
}

.body-wrapper {
  margin-top: 130px;
}