
.movie-list {

    display: grid;
    grid-template-columns: repeat(5, auto);

    grid-column-gap:1.5rem;
    grid-row-gap:3rem;

}
.movie-list-container {
    padding: 2rem 10rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

}
.movie-list-header {
    color: white;

    font-size: 3rem;
    font-weight: 700;

}


@media screen and (max-width: 1200px) {

 .movie-list {
    grid-template-columns: repeat(4, auto);

 }

}

@media screen and (max-width: 1000px) {

    .movie-list {
       grid-template-columns: repeat(3, auto);
   
    }
   
   }


   @media screen and (max-width: 1000px) {

    .movie-list {
       grid-template-columns: repeat(3, auto);
   
    }
   
   }

   @media screen and (max-width: 800px) {

    .movie-list {
       grid-template-columns: repeat(2, auto);
   
    }
    .movie-list-header {
        text-align: center;
    }
   
   }
   @media screen and (max-width: 540px) {

    .movie-list {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
   
    }

    .movie-list-container {

        padding:2rem 0;

        align-items: center;
        justify-content: center;


    }
   
   }