
.movie-list {

    display: grid;
    grid-template-columns: repeat(5, auto);

    grid-column-gap:1.5rem;
    grid-row-gap:3rem;

}
.movie-list-container {
    padding: 0 10rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

}
.movie-list-header {
    color: white;

    font-size: 3rem;
    font-weight: 700;

}