header {
  width: 100%;
  position: fixed;
  top: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2222;
  padding:1% 6%;
  box-shadow: 0px 10px 15px -7px rgba(1,1,1,1); 
  border: 2px solid var(--color-second);
   background-color: var(--color-bg);

  .nav-menu a {
    color: var(--color-first);
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
    padding: 1rem 2rem;
    border-radius: 8px;

  }

  img {
    width: 7rem;
  }
  .nav-menu a:hover {
    color: white;
    background-color: var(--color-second);
  }
}


