.movie-detail-wrapper {
    width: 100%;
    padding: 8rem 16rem;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
position: relative;

    h1 {
        font-size: 3rem;
        font-weight: 700;
        color: white;
    }
}


.movie-detail-div {
    display: flex;
    width: 100%;
    gap: 3rem;
}

.movie-detail-right {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 3rem;
    gap: 1rem;


   
}


.movie-detail-rating-and-genre {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2{

        font-size: 1.5rem;
        color: white;
       
    
    }
}

.detail-genre-div {
    display: flex;
    gap: 1rem;


    h3{

        padding:11px 24px;
        

        background-color: var(--color-second);
        border-radius: 8px;

    }

    h3:hover {
        color: white;
       
    }
}

.movie-detail-header {
    margin-bottom: 2rem;
}

.movie-detail-poster {
    width: 22rem;
    border-radius: 20px;
}


.movie-detail-title {
    line-height: 1;
}


.movie-detail-overview {

    width: 70%;
    font-size: 1.5rem;

}

.movie-detail-bg {
    position: absolute;
    opacity: 15%;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
    height: 100%;
}

.movie-detail-content {
    z-index: 33;
}


@media screen and (max-width: 1200px) {

    .movie-detail-div {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }

    .movie-detail-wrapper {
        h1 {
            text-align: center;
            font-size: 2rem;
        }

        padding:1rem 2rem;
    }

    .detail-genre-div {
        display: none;
    }

    .movie-detail-overview {
        width: 100%;
        font-size: 1rem;
    }

    .movie-detail-right {
        padding: 1rem;
    }
   
}

@media screen and (max-width: 1100px) {

    .movie-detail-div {
        flex-direction: column;
        align-items: center;
    }
}